<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agar Marial</title>
    <!-----css link here--->
    <link rel="stylesheet" href="style.student.css">
    <!----------font---------->
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" 
    rel="stylesheet" type="text/css" />
    <link href="https://cdn.staticaly.com/gh/hung1001/font-awesome-pro/4cac1a6/css/all.css"
     rel="stylesheet" type="text/css" />
       <!----------swiper js---------->
 <ink rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

</head>
<body>
     <!------header ended here------->
    <heeader class="container">
      <div class="logo__go">
        <a href="header.html" class="logo"><img class="logo__logo" src="../images/South_Media_Tech_logo.jpg" alt="South Media Tech">
        </a>
      </div>
        <div class="constant__container">
        <ul class="content" class="active" id="content__menu">
           <li><a href="home.html" class="under__line">Home</a>
        </li>
        <li><a href="project.html">Project</a></li>
        <li><a href="profile.html" class="under__line">Profile</a>
        </li>
            <li><a href="about.html" class="under__line">About us </a>
        </li>
            <li><a href="skills.html" class="under__line">My skills</a>
        </li>
           <li> <a href="contact.html" class="under__line">contact</a>
        </li>
        </div>
        <div class="icons">
            <span class="bar__bar"></span>
            <span class="bar__bar"></span>
            <span class="bar__bar"></span>
        </div>
    </ul>
    </heeader>
    <!--------section start here-------->
    <section class="home" id="home">
        <div class="content-1">
            <h3>welcome to south media company and we are in the heart of south sudan</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas a vero pariatur natus quaerat facilis velit 
            recusandae, corrupti nobis rem, tenetur error aliquam alias! Vitae a non eligendi fugiat quam possimus tenetur 
            praesentium voluptate aut nemo atque, nostrum quis dolorum voluptas pariatur unde 
             ad recusandae. Ab fugiat molestiae at omnis.</p>
             <div class="btn__2">
             <a href="#" class="btn" >
                <span class="text text-1">Read more</span>
             </a>
            </div>
        </div>
    </section>
    <!------------------this is section 2------------------------------->
    <section class="about__1">
        <div class="container__4">
            <div class="about-image">
                <h4>welcome to Agar Marial blog and site</h4>
                <p class="top">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque enim
                    suscipit quae porro. Optio odit deleniti rem, perferendis tempora, ea molestias molestiae ullam,
                    cupiditate necessitatibus voluptates exercitationem nobis laborum minima?</p>
                    <p class="top">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nostrum,
                    est accusamus voluptatibus architecto ratione harum quasi atque alias temporibus 
                    sed laborum pariatur ut facere minus odit animi expedita nisi blanditiis modi? Consequuntur,
                    dolorem distinctio non autem minima dolores soluta?</p>
                 <div class="double__imgae">
                    <img class="new__image" src="../images/image6.jpg" alt="Tablet screen">
                 </div>
             </div>
            <div class="about-content">
                <div class="double__imgae">
                <img class="emij" src="../images/image6.jpg">
            </div>
                <h3>10 years of experiences in design</h3>
                <p class="top">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque enim
                 suscipit quae porro. Optio odit deleniti rem, perferendis tempora, ea molestias molestiae ullam,
                 cupiditate necessitatibus voluptates exercitationem nobis laborum minima?</p>
                 <p class="top">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nostrum,
                 est accusamus voluptatibus architecto ratione harum quasi atque alias temporibus 
                 sed laborum pariatur ut facere minus odit animi expedita nisi blanditiis modi? Consequuntur,
                 dolorem distinctio non autem minima dolores soluta?</p>
                 <div class="btn__2">
                    <a href="#" class="btn" >
                       <span class="text text-1">Read more</span>
                    </a>
             </div>
        </div>
    </section>
   <section class="section__4">
        <div class="mark__pass">
            <h1>My skills in programming knowledges</h1>
            <div class="double__start">
                <h2><span>I'm a web developer</span></h2>
                <p class="pass__content">I have experiences and skills in the following languages</p>
                <p><strong>JAVASCRIP</strong></p>
            </div>
            <div class="double__start">
                <h2><span>I'm a web developer</span></h2>
                <p class="pass__content">I have experiences and skills in the following languages</p>
                <p><strong>PYTHON</strong></p>
            </div>
            <div class="double__start">
                <h2><span>I'm a web developer</span></h2>
                <p class="pass__content">I have experiences and skills in the following languages</p>
                <p><strong>C++</strong></p>
            </div>
            <div class="double__start">
                <h2><span>I'm a web developer</span></h2>
                <p class="pass__content">I have experiences and skills in the following languages</p>
                <p><strong>MAKEUP LANGUAGE HTML AND CSS</strong></p>
            </div>
            <div class="double__start">
                <h2><span>I'm a web developer</span></h2>
                <p class="pass__content">I have experiences and skills in the following languages</p>
                <p><strong>DATABASE</strong></p>
            </div>
            <div class="double__start">
                <h2><span>I'm a web developer</span></h2>
                <p class="pass__content">I have experiences and skills in the following languages</p>
                <p><strong>VISUAL BASIC</strong></p>
            </div>
        </div>
    </section>
    <!---------==========================foooter begine===============================---------->
    <section class="footer">
        <div class="footer__container">
            <ul class="ull__li">
                <h1><span>My unique skills in programming</span></h1>
                <li class="link__tap">
                    <a href="" class="link_1">social relation</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">mission</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">vission</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">creativity and skills</a>
                </li>
            </ul>
        
            <ul class="ull__li">
                <h1><span>Agar Marial interaction</span></h1>
                <li class="link__tap">
                    <a href="" class="link_1">knowledgesin programming languages</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">what to know about me</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">learning</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">activities we do</a>
                </li>
            </ul>
            <ul class="ull__li">
                <h1><span>fouth year student in university of juba</span></h1>
                <li class="link__tap">
                    <a href="" class="link_1">want to known colleages</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">my university</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">motivation</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">sports</a>
                </li>
            </ul>
            <ul class="ull__li">
                <h1><span>leardership</span></h1>
                <li class="link__tap">
                    <a href="" class="link_1">community engagement</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">interest</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">career development</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">download app</a>
                </li>
            </ul>
            <ul class="ull__li">
                <h1><span>scoial media</span></h1>
                <li class="link__tap">
                    <a href="" class="link_1">facebook</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">linkin</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">Tiktok</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">Instagram</a>
                </li>
            </ul>
            <ul class="ull__li">
                <h1><span>get in touch with me</span></h1>
                <li class="link__tap">
                    <a href="" class="link_1">Contact us</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">whatsap</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">+211922782228</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">+211980074058</a>
                </li>
            </ul>
        </div>
        <div class="under__line">
            <hr>
        </div>
        <p class="copy">@copy from Agar Marial and all rights are reserved</p>
    </section>
    <script src="/partials/index__1.js"></script>
</body>
</html>