<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agar Marial</title>
    <!-----css link here--->
    <link rel="stylesheet" href="style.student.css">
    <link rel="stylesheet" href="about.css">
    <!----------font---------->
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" 
    rel="stylesheet" type="text/css" />
    <link href="https://cdn.staticaly.com/gh/hung1001/font-awesome-pro/4cac1a6/css/all.css"
     rel="stylesheet" type="text/css" />
       <!----------swiper js---------->
 <ink rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

</head>
<body>
     <!------header ended here------->
    <heeader class="container">
     <a href="#" class="logo"><img class="logo__logo" src="../images/logo__AMRA.jpg" alt="Agar Marial">
    </a>
        <div class="constant__container">
        <ul class="content" class="active" id="content__menu">
           <li><a href="home.html" class="under__line">Home</a>
        </li>
        <li><a href="profile.html" class="under__line">Profile</a>
        </li>
            <li><a href="about.html" class="under__line">About us </a>
        </li>
            <li><a href="skills.html" class="under__line">My skills</a>
        </li>
           <li> <a href="contact.html" class="under__line">contact</a>
        </li>
        </div>
        <div class="icons">
            <span class="bar__bar"></span>
            <span class="bar__bar"></span>
            <span class="bar__bar"></span>
        </div>
    </ul>
    </heeader>
    <section class="section___section">
        <div class="under__stages">
            <div class="content__trinity">
                <h1>my skills in programming</h1>
                <p class="under___under">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Excepturi consectetur quia repudiandae recusandae dolor sapiente cumque quibusdam dolorem 
                 quidem est voluptas, iste dicta totam. 
                Ab iste, nam numquam dolore saepe nula! Iusto iure, quam consectetur dolor laborum eum nihil commodi?</p>
                 <div class="img__img"><img src="../images/image5.jpg" alt=""></div>
            </div>
            <div class="content__trinity">
                <h1>my skills in programming</h1>
                <p class="under___under">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Excepturi consectetur quia repudiandae recusandae dolor sapiente cumque quibusdam dolorem 
                 quidem est voluptas, iste dicta totam. 
                Ab iste, nam numquam dolore saepe nulla! Iusto iure, quam consectetur dolor laborum eum nihil commodi?</p>
                <div class="img__img"><img src="../images/image5.jpg" alt=""></div>
            </div>
        </div>
    </section>
    <section class="balance__cont">
        <div class="container___7">
            <div class="student__stu">
                <h2><strong>Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Nesciunt, culpa!</strong></h2>
                    <p class="still__not">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                     Fugiat aliquam culpa ratione explicabo sequi sunt dolore consequatur eaque cumque
                     corporis! Laudantium corrupti, a repellat facere iusto cupiditate sapiente voluptate 
                    impedit. Aliquid, iusto nihil. Aliquam beatae maxime deserunt corrupti ullam cum consequuntur 
                    animi magnam, ab nisi quis placeat sunt 
                    explicabo numquam itaque quidem dolore veniam ipsa totam eveniet necessitatibus. Tempore, placeat?</p>
            </div>
            <div class="create__under">
                <img src="../images/image0.jpg" alt="">
            </div>
        </div>
    </section>
 <!---------==========================foooter begine===============================---------->
    <section class="footer">
        <div class="footer__container">
            <ul class="ull__li">
                <h1><span>My unique skills in programming</span></h1>
                <li class="link__tap">
                    <a href="" class="link_1">social relation</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">mission</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">vission</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">creativity and skills</a>
                </li>
            </ul>
        
            <ul class="ull__li">
                <h1><span>Agar Marial interaction</span></h1>
                <li class="link__tap">
                    <a href="" class="link_1">knowledgesin programming languages</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">what to know about me</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">learning</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">activities we do</a>
                </li>
            </ul>
            <ul class="ull__li">
                <h1><span>fouth year student in university of juba</span></h1>
                <li class="link__tap">
                    <a href="" class="link_1">want to known colleages</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">my university</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">motivation</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">sports</a>
                </li>
            </ul>
            <ul class="ull__li">
                <h1><span>leardership</span></h1>
                <li class="link__tap">
                    <a href="" class="link_1">community engagement</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">interest</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">career development</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">download app</a>
                </li>
            </ul>
            <ul class="ull__li">
                <h1><span>scoial media</span></h1>
                <li class="link__tap">
                    <a href="" class="link_1">facebook</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">linkin</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">Tiktok</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">Instagram</a>
                </li>
            </ul>
            <ul class="ull__li">
                <h1><span>get in touch with me</span></h1>
                <li class="link__tap">
                    <a href="" class="link_1">Contact us</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">whatsap</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">+211922782228</a>
                </li>
                <li class="link__tap">
                    <a href="" class="link_1">+211980074058</a>
                </li>
            </ul>
        </div>
        <div class="under__line">
            <hr>
        </div>
        <p class="copy">@copy from Agar Marial and all rights are reserved</p>
    </section>
    <script src="index.js"></script>
</body>
</html>