*{
    padding: 0;
    box-sizing: 0;
    margin: 0;
}
.section___section .under__stages{
    display: grid;
    grid-template-columns: 46% 55%;
    gap: 4%;
    margin-top: 2rem;
}
.balance__cont .container___7{
    display: grid;
    grid-template-columns: 46% 55%;
    gap: 4%;
}
.under___under .img__img img{
    width: 278px;
    height: 50vh;
}
.create__under img{
    width: 50%;
    height: 70vh;
    margin-top: 20%;
    margin-left: 30%;
    background-position: center;
}
.img__img img{
    margin-top: 20px;
    width: 80%;
    height: 70vh;
}
@media screen and (max-width:768px){
    .logo__go{
        margin-right: 70%;
    }
}